{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}

<table id="rendezvous" width="450px">

    <tr>
        <td>{{form_label(form.titre,"Titre: ")  }}</td>
        <td>{{ form_widget(form.titre)}}</td>
        <td id='info'>{{ form_errors(form.titre)}}</td>
    </tr>

    <tr>
        <td>{{form_label(form.service,"Services: ")  }}</td>
        <td>{{ form_widget(form.service)}}</td>
        <td id='info'>{{ form_errors(form.service)}}</td>
    </tr>
    <tr>
        <td>{{form_label(form.date_rendezvous,"Date Rendez-Vous: " )  }}</td>
        <td>{{ form_widget(form.date_rendezvous)}}</td>
        <td id='info'>{{ form_errors(form.date_rendezvous)}}</td>
    </tr>
    <tr>
        <td>{{form_label(form.description_rendezvous,"Descriptions: ")  }}</td>
        <td>{{ form_widget(form.description_rendezvous)}}</td>
        <td id='info'>{{ form_errors(form.description_rendezvous)}}</td>
    </tr>
    <tr>
        <td>{{form_label(form.telephonenum,"Tèl: ")  }}</td>
        <td>{{ form_widget(form.telephonenum)}}</td>
        <td id='info'>{{ form_errors(form.telephonenum)}}</td>
    </tr>
    <tr>
        <td>{{form_label(form.adressrend,"Adresse: ")  }}</td>
        <td>{{ form_widget(form.adressrend)}}</td>
        <td id='info'>{{ form_errors(form.adressrend)}}</td>
    </tr>

</table>


{{ form_widget(form) }}
<br>
<button class="btn btn-warning "  > {{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}



