{% extends 'baseback.html.twig' %}
{% block title %} Espace Admin {% endblock %}
{% block titre1 %} Voir Les Rendez Vous {% endblock %}
{% block content %}
    <h1>Liste des Rendez-vous</h1>
    <table class="table" align="center">
        <thead>
        <tr>

            <th>Titre</th>
            <th>Service</th>
            <th>Date_rendezvous</th>
            <th>Description_rendezvous</th>
            <th>Telephonenum</th>
            <th>Adresse</th>

        </tr>
        </thead>
        <tbody>
        {% for rendezvou in rendezvous %}
            <tr>

                <td>{{ rendezvou.titre }}</td>
                <td>{{ rendezvou.service }}</td>
                <td>{{ rendezvou.dateRendezvous ? rendezvou.dateRendezvous|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ rendezvou.descriptionRendezvous }}</td>
                <td>{{ rendezvou.telephonenum }}</td>
                <td>{{ rendezvou.adressrend }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="card-body">

        <a class="btn btn-primary" href="{{path('trirdv')}}">Tri par Services</a>
        <a class="btn btn-primary" href="{{path('trirdv2')}}">Tri par id</a>

        <a class="btn btn-primary" href="{{path('statRendezvous')}}">Stat par type de Service</a>
        <a class="btn btn-light" href="{{ path('rendezvous_calendar') }}"> Calendrier</a>

    </div>
{% endblock %}