{% extends 'base.html.twig' %}
{% block title %} Chritech {% endblock %}
{% block bg%} {{ asset('front/assets/img/rdvbg.png') }}  {% endblock %}
{% block titre1 %}Services{% endblock %}
{% block titre2 %} <a href="{{ path('rendezvous_new') }}  " style="color: antiquewhite">Rendez-vous <h6 style="color: floralwhite" ><small>Pour prendre un Rendez-vous Cliquer ici</small></h6></a>

{% endblock %}


{% block content %}


    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Event Calendar</title>
        <style>.event-container {
                font-family: "Roboto", sans-serif;
                max-width: 800px;
                margin: 0 auto;
            }

            .event-container h3.year {
                font-size: 40px;
                text-align: center;
                border-bottom: 1px solid #b1b1b1;
            }

            .event-container .event {
                box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.4);
                display: flex;
                border-radius: 8px;
                margin: 32px 0;
            }

            .event .event-left {
                background: #222;
                min-width: 82px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #eee;
                padding: 8px 48px;
                font-weight: bold;
                text-align: center;
                border-radius: 8px 0 0 8px;
            }

            .event .event-left .date {
                font-size: 56px;
            }

            .event .event-left .month {
                font-size: 16px;
                font-weight: normal;
            }

            .event .event-right {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 24px;
            }

            .event .event-right h3.event-title {
                font-size: 24px;
                margin: 24px 0 10px 0;
                color: #218bbb;
                text-transform: uppercase;
            }

            .event .event-right .event-timing {
                background: #fff8ba;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100px;
                padding: 8px;
                border-radius: 16px;
                margin: 24px 0;
                font-size: 14px;
            }

            .event .event-right .event-timing img {
                height: 20px;
                padding-right: 8px;
            }

            @media (max-width: 550px) {
                .event {
                    flex-direction: column;
                }

                .event .event-left {
                    padding: 0;
                    border-radius: 8px 8px 0 0;
                }

                .event .event-left .event-date .date,
                .event .event-left .event-date .month {
                    display: inline-block;
                    font-size: 24px;
                }

                .event .event-left .event-date {
                    padding: 10px 0;
                }
                .center {
                    padding: 70px 0;
                    border: 3px solid green;
                }
            }
        </style>
    </head>
    <body>


    <div class="event-container">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-dark">{{ button_label|default('rechercher') }}</button>
        <a class="btn btn-dark" href="{{ path('rendezvous_calendar') }}"> Calendrier</a>

        {{ form_end(form) }}


                    {% for rendezvou in rendezvouses %}


            <div class="event">
                <div class="event-left">
                    <div class="event-date">
                        <div class="date">{{ rendezvou.dateRendezvous ? rendezvou.dateRendezvous|date('d') : '' }}
                        </div>
                        <div class="month">{{ rendezvou.dateRendezvous ? rendezvou.dateRendezvous|date('Y-m') : '' }}
                        </div>
                    </div>
                </div>

                <div class="event-right">
                    <h3 class="event-title" onclick="window.location.href = '{{ path('rendezvous_show', {'id': rendezvou.id}) }}';">{{ rendezvou.titre }}</h3>

                    <div class="event-description">
                        {{ rendezvou.descriptionRendezvous }}
                    </div>

                   <span>

                       <a class="event-timing"> <img src="{{ asset('front/assets/img/time.png') }}" alt=""/>{{ rendezvou.dateRendezvous ? rendezvou.dateRendezvous|date('H:i:s') : '' }}</a>

            <p align="center">
                        <a class="btn btn-dark" href="{{ path('rendezvous_edit', {'id': rendezvou.id}) }}">Modifier mon Rendez-vous</a>

                        <a class="btn btn-dark"  href="{{ path('avis_new', {'rendezvous': rendezvou.id}) }}">Ajouter un Avis</a>
                  {% if rendezvou.avis is not null %}
                               <a class="btn btn-dark" href="{{ path('avis_show', {'id': rendezvou.avis.id}) }}">Consulter mon Avis</a>
                           {% endif %}
                       </p>
                    </span>

                </div>
            </div>

        {% endfor %}
        {{ knp_pagination_render(rendezvouses) }}

    </div>
    </body>

{% endblock %}

