{% extends 'base.html.twig' %}
{% block title %} Chritech {% endblock %}
{% block bg%} {{ asset('front/assets/img/rdvbg.png') }}  {% endblock %}
{% block titre1 %}Rendez-Vous{% endblock %}
{% block titre2 %} Gerez Vos Rendez-Vous Facilement {% endblock %}


{% block content %}
    <h1>Rendezvous index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Service</th>
                <th>Date_rendezvous</th>
                <th>Description_rendezvous</th>
                <th>Telephonenum</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rendezvou in rendezvouses %}
            <tr>
                <td>{{ rendezvou.id }}</td>
                <td>{{ rendezvou.titre }}</td>
                <td>{{ rendezvou.service }}</td>
                <td>{{ rendezvou.dateRendezvous ? rendezvou.dateRendezvous|date('Y-m-d') : '' }}</td>
                <td>{{ rendezvou.descriptionRendezvous }}</td>
                <td>{{ rendezvou.telephonenum }}</td>
                <td>
                    <a href="{{ path('rendezvous_show', {'id': rendezvou.id}) }}">show</a>
                    <a href="{{ path('rendezvous_edit', {'id': rendezvou.id}) }}">edit</a>
                    {% if rendezvou.avis is not null %}
                    <a href="{{ path('avis_edit', {'id': rendezvou.avis.id}) }}">edit</a>
{% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('rendezvous_new') }}">Create new</a>
{% endblock %}
