{% extends 'base.html.twig' %}


{% block title %} Chritech {% endblock %}
{% block bg%} {{ asset('front/assets/img/livraison.jpg') }}  {% endblock %}
{% block titre1 %}livraison{% endblock %}
{% block titre2 %} <a  style="color:antiquewhite">Gérer votre livraison <h6 style="color: antiquewhite" >Veuillez remplir le formulaire ci-dessous </h6></a>

{% endblock %}
{% block content %}
    <div class="list-section pt-80 pb-80">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                    <div class="list-box d-flex align-items-center">
                        <div class="list-icon">
                            <i class="fas fa-shipping-fast"></i>
                        </div>
                        <div class="content">
                            <h3>Livraison gratuite</h3>
                            <p>à partir de trois produits achetés.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                    <div class="list-box d-flex align-items-center">
                        <div class="list-icon">
                            <i class="fas fa-phone-volume"></i>
                        </div>
                        <div class="content">
                            <h3>24/7 SAV</h3>
                            <p>Beneficiez de notre SAV</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="list-box d-flex justify-content-start align-items-center">
                        <div class="list-icon">
                            <i class="fas fa-sync"></i>
                        </div>
                        <div class="content">
                            <h3>Remboursement</h3>
                            <p>Valable 3jours aprés la reception de produit!</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}

    <div class="checkout-section mt-150 mb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="checkout-accordion-wrap">
                        <div class="accordion" id="accordionExample">
                            <div class="card single-accordion">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Modifier la livraison
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="billing-address-form">

                                            <p>{{ form_errors(form.adresse) }}</p>
                                            <p>{{ form_widget(form.adresse) }}</p>
                                            <p>{{ form_errors(form.codepostal) }}</p>
                                            <p>{{ form_widget(form.codepostal) }}</p>
                                            <p>{{ form_errors(form.ville) }}</p>
                                            <p>{{ form_widget(form.ville) }}</p>
                                            <p>{{ form_errors(form.datelivraison) }}</p>
                                            <p>{{ form_widget(form.datelivraison) }}</p>
                                            {{ include('livraison/_form.html.twig', {'button_label': 'Modifier'}) }}
                                            {{ include('livraison/_delete_form.html.twig' , {'button_label': 'Annuler'}) }}
                                            <a href="{{ path('livraison_show', {'id': livraison.id}) }}">Voir ma livraison</a>

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
