
{% extends 'baseback.html.twig' %}
{% block title %} Espace Admin {% endblock %}
{% block titre1 %} Gestion de livraison{% endblock %}
{% block content %}
    <h1>Liste de livraisons en cours</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Identifiant</th>
            <th>Adresse</th>
            <th>Code postal</th>
            <th>Ville</th>
            <th>Date de livraison</th>
            <th>Horaire de livraison</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for livraison in livraisons %}
            <tr>
                <td>{{ livraison.id }}</td>
                <td>{{ livraison.adresse }}</td>
                <td>{{ livraison.codepostal }}</td>
                <td>{{ livraison.ville }}</td>
                <td>{{ livraison.datelivraison ? livraison.datelivraison|date('Y-m-d') : '' }}</td>
                <td>{{ livraison.heurelivraison ? livraison.datelivraison|date('H-i-s') : '' }}</td>
                <td>
                    <a href="{{ path('livraison_affiche', {'id': livraison.id}) }}">Afficher/</a>
                    <a href="{{ path('livraison_modifier', {'id': livraison.id}) }}">Modifier la livraison</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune livraison enregistrée.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('commande_index') }}">Revenir vers la liste de commandes</a>
{% endblock %}
