{% extends 'base.html.twig' %}

{% block title %}Livraison{% endblock %}

{% block content %}
    <h1>Livraison en cours</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Identifiant</th>
                <td>{{ livraison.id }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ livraison.adresse }}</td>
            </tr>
            <tr>
                <th>Codepostal</th>
                <td>{{ livraison.codepostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ livraison.ville }}</td>
            </tr>
            <tr>
                <th>Date de livraison</th>
                <td>{{ livraison.datelivraison ? livraison.datelivraison|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('livraison_index') }}">Page précedente</a>

    <a href="{{ path('livraison_edit', {'id': livraison.id}) }}">Modifier la livraison</a>

    {{ include('livraison/_delete_form.html.twig') }}
{% endblock %}
