{% extends 'base.html.twig' %}

{% block title %} Chritech {% endblock %}
{% block bg%} {{ asset('front/assets/img/livraison.jpg') }}  {% endblock %}
{% block titre1 %}livraison{% endblock %}
{% block titre2 %} <a  style="color: antiquewhite">Consulter votre livraison</a>

{% endblock %}
{% block content %}

    <div class="list-section pt-80 pb-80">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                    <div class="list-box d-flex align-items-center">
                        <div class="list-icon">
                            <i class="fas fa-shipping-fast"></i>
                        </div>
                        <div class="content">
                            <h3>Livraison gratuite</h3>
                            <p>à partir de trois produits achetés.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                    <div class="list-box d-flex align-items-center">
                        <div class="list-icon">
                            <i class="fas fa-phone-volume"></i>
                        </div>
                        <div class="content">
                            <h3>24/7 SAV</h3>
                            <p>Beneficiez de notre SAV</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="list-box d-flex justify-content-start align-items-center">
                        <div class="list-icon">
                            <i class="fas fa-sync"></i>
                        </div>
                        <div class="content">
                            <h3>Remboursement</h3>
                            <p>Valable 3jours aprés la reception de produit!</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
<div class="container">
    <div class="card">
        <div class="card-img-top" align="center"><iframe src="https://maps.google.com/maps?&q= {{ livraison.adresse }}&output=embed"></iframe></div>

        <div class="card-body" >
            <h5 class="card-title" align="center">Details de la livraison:</h5>
                <p class="card-text" align="center">{{ livraison.adresse }}</p>
            <p class="card-text" align="center">{{ livraison.codepostal }}</p>
            <p class="card-text" align="center">{{ livraison.ville }}</p>
            <p class="card-text" align="center">{{ livraison.datelivraison ? livraison.datelivraison|date('Y-m-d') : '' }}</p>
            <p class="card-text" align="center">{{ livraison.heurelivraison ? livraison.heurelivraison|date('H:i:s') : '' }}</p>
            <p class="card-text" align="center">   <span class="badge badge-warning">Pending</span></p>
           <div align="center"><a  href="{{ path('livraison_edit', {'id': livraison.id}) }}"><button type="button" class="btn btn-dark">Modifier votre livraison</button></a>
          <input type="button" class="btn btn-dark"  value="Retour vers la commande" onclick="history.back()"></div>



            <script>

                // Set the date we're counting down to


                let countDownDate = new Date();
                countDownDate.setFullYear({{ livraison.datelivraison|date("Y") }})
                countDownDate.setUTCMonth({{ livraison.datelivraison|date("m") }}-1)
                countDownDate.setUTCDate({{ livraison.datelivraison|date("d") }})
                countDownDate.setHours({{ livraison.heurelivraison|date("H") }})
                countDownDate.setMinutes({{ livraison.heurelivraison|date("i") }})
                countDownDate.setSeconds({{ livraison.heurelivraison|date("s") }})

                // Update the count down every 1 second
                var x = setInterval(function() {

                    // Get today's date and time
                    var now = new Date();
                    console.log(now)

                    // Find the distance between now and the count down date
                    var distance = countDownDate - now;

                    // Time calculations for days, hours, minutes and seconds
                    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                    // Output the result in an element with id="demo"

                    document.getElementById("day").innerHTML = days ;
                    document.getElementById("hour").innerHTML = hours ;
                    document.getElementById("minute").innerHTML = minutes ;
                    document.getElementById("second").innerHTML = seconds ;

                    // If the count down is over, write some text
                    if (distance < 0) {
                        clearInterval(x);
                        document.getElementById("demo").innerHTML = "EXPIRED";
                    }
                }, 1000);
            </script>
            <br><br>
            <hr>


<div align="center">

            <p>Vous trouverez ci-dessous combien de temps il vous reste afin de recevoir votre commande:</p>
            <p style=" text-align: center;font-size: 60px;margin-top: 0px;" id="demo"></p>
            <ul class="countdown">

                <span class="brd-rd50 yellow-bg wow bounceIn" data-wow-delay="0.2s">
                    <span id="day" class="days"></span>
                    <p class="days_ref">Jours restants</p>
                </span>
                <span class="brd-rd50 yellow-bg wow bounceIn" data-wow-delay="0.4s">
                    <span id="hour" class="hours"></span>
                    <p class="hours_ref">Heures restantes</p>
                </span>
                    <span class="brd-rd50 yellow-bg wow bounceIn" data-wow-delay="0.5s">
                    <span id="minute" class="minutes"></span>
                    <p class="minutes_ref">Minutes restantes</p>
                </span>
                        <span class="brd-rd50 yellow-bg wow bounceIn" data-wow-delay="0.6s">
                    <span id="second" class="seconds"></span>
                    <p class="seconds_ref">Secondes restantes</p>
                </span>
            </ul>

</div>
            <hr>
        </div>
    </div>
</div>



{% endblock %}
