{% extends 'base.html.twig' %}

{% block title %} Les Avis {% endblock %}

{% block content %}
    <h1>Avis index</h1>

    <table class="table">

        {% for avi in avis %}
            <tr>
<td>
                <a>Je trouve ce service
                <b>{{ avi.EtatService }}</b> <br>
                Si je le Recommande ! <b>{{ avi.Recommendation }}</b> <br>
                    et voici pourquoi : <b>
                {{ avi.DescriptionService }}</b></a><br>
                <a href="{{ path('avis_show', {'id_avis': avi.id}) }}">show</a>
                <a href="{{ path('avis_edit', {'id_avis': avi.id}) }}">edit</a>


                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
