{% extends 'base.html.twig' %}

{% block title %}Avis{% endblock %}

{% block content %}
    <h1>Avis</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ avi.id }}</td>
            </tr>
            <tr>
                <th>Etat_service</th>
                <td>{{ avi.etatService }}</td>
            </tr>
            <tr>
                <th>Recommendation</th>
                <td>{{ avi.recommendation }}</td>
            </tr>
            <tr>
                <th>Description_service</th>
                <td>{{ avi.descriptionService }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('avis_index') }}">back to list</a>

    <a href="{{ path('avis_edit', {'id': avi.id}) }}">edit</a>

    {{ include('avis/_delete_form.html.twig') }}
{% endblock %}
