{% extends 'base.html.twig' %}
{% block title %} Liste des produits{% endblock %}


{% block content %}
    <h1>Liste des produits</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Reférence du produit</th>
                <th>Produit</th>
                <th>Description</th>
                <th>Prix unitaire hors taxe</th>
                <th>Quantité disponnible</th>
                <th>Image</th>
                <th>Details</th>
                <th>Prix TTC</th>
                <th>Prix TVA</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.RefProd }}</td>
                <td>{{ produit.NomProd }}</td>
                <td>{{ produit.DescriProd }}</td>
                <td>{{ produit.PrixUnitHTProd }}</td>
                <td>{{ produit.QteStockProd }}</td>
                <td>{{ produit.ImageProd }}</td>
                <td>{{ produit.DetailProd }}</td>
                <td>{{ produit.PrixTTCProd }}</td>
                <td>{{ produit.PrixTVAProd }}</td>
                <td>
                    <a href="{{ path('produit_show', {'id': produit.id}) }}">Affichage</a>
                    <a href="{{ path('produit_edit', {'id': produit.id}) }}">Modification</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Stock vide.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('produit_new') }}">Ajouter un nouveau produit</a>
{% endblock %}
