{% extends 'base.html.twig' %}

{% block title %} Chritech {% endblock %}
{% block bg%} {{ asset('front/assets/img/pc.jpg') }}  {% endblock %}
{% block titre1 %}commande{% endblock %}
{% block titre2 %} <a  style="color:antiquewhite">Historique de commandes</a>

{% endblock %}
{% block content %}

    <hr>
    {% if commandes | length > 3 %}
        <div align="center"><h4>Felicitations, vous avez atteint votre {{ commandes|length }}éme commande. Vous beneficiez d'une reduction de 15% sur votre prochaine commande!</h4></div>
    {% else %}
        <div align="center"><p>Beneficiez de nos reductions en passant plus de commande!!</p></div>
    {% endif %}
    <hr>
    <br>

    {% for commande in commandes %}
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <hr>
                    <h5 class="card-title" align="center">Commande {{ commande.id }} :</h5>
                    <hr>
                    <p class="card-text" align="center">{{ commande.nom }}</p>
                    <p class="card-text" align="center">{{ commande.numtel }}</p>
                    <p class="card-text" align="center"><small class="text-muted">{{ commande.email }}</small></p>
                    <div align="center">   <a href="{{ path('commande_show', {'id': commande.id}) }}"><button type="button" class="btn btn-dark">Gérer la commande</button></a></div>

                </div>
            </div>
        </div>

    {% else %}
        <tr>
            <div align="center"><td colspan="5">Pas de commandes enregistrées.</td></div>
        </tr>
    {% endfor %}





{% endblock %}