{% extends 'base.html.twig' %}

{% block title %} Chritech {% endblock %}
{% block bg%} {{ asset('front/assets/img/pc.jpg') }}  {% endblock %}
{% block titre1 %}commande{% endblock %}
{% block titre2 %} <a  style="color: antiquewhite">Consulter votre commande</a>

{% endblock %}
{% block content %}


    <h3 style="color: cadetblue" >Cliquez sur le lien ci-dessous si vous souhaitez gérer votre commande</h3>
    <a href="{{ path('commande_edit', {'id': commande.id}) }}">Cliquez ici!</a>
    <table class="table">
        <tbody>
            <tr>
                <th>Identifiant</th>
                <td>{{ commande.id }}</td>
            </tr>
            <tr>
                <th>Client</th>
                <td>{{ commande.nom }}</td>
            </tr>
            <tr>
                <th>Numéro de telephone</th>
                <td>{{ commande.numtel }}</td>
            </tr>
            <tr>
                <th>Adresse e-mail</th>
                <td>{{ commande.email }}</td>
            </tr>
        </tbody>
    </table>

    <!--<a href="{{ path('commande_index') }}">Page précédente</a>-->




{% endblock %}
