{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}
{% block bg%} {{ asset('front/assets/img/depositphotos_76358235-stock-photo-desk-of-blogger.jpg') }}  {% endblock %}
{% block titre1 %}BLOG{% endblock %}
{% block titre2 %}Bienvenue dans notre espace Blog{% endblock %}
{% block content %}
    <div style="background-color: grey">
    <h1 style="text-align: center">Blog index</h1>
<div class="container" style="background-color: darkblue">
    <table class="table" style="background-color: white">
        <thead>
            <tr>
                <th>Id</th>
                <th>Utilisateur</th>
                <th>Titre</th>
                <th>Contenue</th>
                <th>Date_heure</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blog in blogs %}
            <tr>
                <td>{{ blog.id }}</td>
                <td>{{ blog.utilisateur }}</td>
                <td>{{ blog.titre }}</td>
                <td >{{ blog.contenue }}</td>
                <td>{{ blog.dateHeure ? blog.dateHeure|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('blog_show', {'id': blog.id}) }}">show</a>
                    <a href="{{ path('blog_edit', {'id': blog.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    </div>
    <a href="{{ path('blog_new') }}">Create new</a>
{% endblock %}
