{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block bg%} {{ asset('front/assets/img/depositphotos_76358235-stock-photo-desk-of-blogger.jpg') }}  {% endblock %}
{% block titre1 %}BLOG{% endblock %}
{% block titre2 %}Ahla & Sahla{% endblock %}

{% block content %}
    <h1>Blog</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ blog.id }}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ blog.utilisateur }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ blog.titre }}</td>
            </tr>
            <tr>
                <th>Contenue</th>
                <td>{{ blog.contenue }}</td>
            </tr>
            <tr>
                <th>Date_heure</th>
                <td>{{ blog.dateHeure ? blog.dateHeure|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('blog_index') }}">back to list</a>

    <a href="{{ path('blog_edit', {'id': blog.id}) }}">edit</a>

    {{ include('blog/_delete_form.html.twig') }}

    <table class="table" style="background-color: white">
        <thead>
        <tr>
            <th>Utilisateur</th>
            <th>Contenue</th>

        </tr>
        </thead>
        <tbody>
        {% for commentaire in blog.commentaires %}
            <tr>
                <td>{{ commentaire.utilisateur }}</td>
                <td>{{ commentaire.contenue }}</td>


            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
