{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block bg%} {{ asset('front/assets/img/depositphotos_76358235-stock-photo-desk-of-blogger.jpg') }}  {% endblock %}
{% block titre1 %}BLOG{% endblock %}
{% block head %}
    <link href="{{ asset('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('front/assets/css/emoji.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}

    <section class="blog-posts grid-system">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="all-blog-posts">
                            <div class="col-lg-12">
                                <div class="blog-post">
                                    <div class="blog-thumb">
                                        <img src="{{ asset('uploads/images/' ~ blog.img) }}" height="450" width="690" >
                                    </div>
                                    <div class="down-content">
                                        <span>{{ blog.titre }}</span>
                                        <ul class="post-info">
                                            <li><a href="#">{{ blog.utilisateur }}</a></li>
                                            <li><a href="#">{{ blog.dateHeure ? blog.dateHeure|date('Y-m-d H:i:s') : '' }}</a></li>
                                            <li><a href="#">10 Comments</a></li>
                                        </ul>
                                        <p>{{ blog.contenue }}</p>
                                        <div class="post-options">
                                            <div class="row">
                                                <div class="col-6">
                                                    <ul class="post-tags">
                                                        <li><i class="fa fa-tags"></i></li>
                                                        <li><a href="#">Best Templates</a>,</li>
                                                        <li><a href="#">TemplateMo</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-6">
                                                    <ul class="post-share">
                                                        <li><i class="fa fa-share-alt"></i></li>
                                                        <li><a href="#">Facebook</a>,</li>
                                                        <li><a href="#"> Twitter</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <a href="{{ path("blog_index") }}"><button  type="button" class="btn btn-warning">Liste</button></a>

                            <a href="{{ path('blog_edit', {'id': blog.id}) }}">edit</a>

                            {{ include('blog/_delete_form.html.twig') }}

                            <div class="col-lg-12">
                                <div class="sidebar-item comments">
                                    <div class="sidebar-heading">
                                        <h2>{{ blog.commentaires |length}} Commentaires</h2>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            {% for commentaire in blog.commentaires %}
                                            <li>
                                                <div class="author-thumb">
                                                    <img src="assets/images/comment-author-01.jpg" alt="">
                                                </div>
                                                <div class="right-content">
                                                    <h4>{{ commentaire.userFK.nom }}<span>{{ commentaire.dateHeure ? commentaire.dateHeure|date('Y-m-d H:i:s') : '' }}</span></h4>
                                                    <p>{{ commentaire.contenue }}</p>
                                                </div>
                                            </li>
                                                <li class="replied">
                                                    <div class="author-thumb">
                                                    </div>

                                                </li>
                                            {% endfor %}


                                        </ul>
                                        <div style="margin-bottom: 285px"> {{ include ('commentaire/_form.html.twig') }}  </div>
                                    </div>





                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>







{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('Front/assets/css/owl.css') }}">
    <link rel="stylesheet" href="{{ asset('Front/assets/css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ asset('Front/assets/css/flex-slider.css') }}">
    <link rel="stylesheet" href="{{ asset('Front/assets/css/templatemo-stand-blog.css') }}">





{% endblock %}

{% block javascripts %}
<script>

    $(function() {
        // Initializes and creates emoji set from sprite sheet
        window.emojiPicker = new EmojiPicker({
            emojiable_selector: '[data-emojiable=true]',
            assetsPath: "{{ asset('front/assets/img') }}",
            popupButtonClasses: 'fa fa-smile-o'
        });
        // Finds all elements with `emojiable_selector` and converts them to rich emoji input fields
        // You may want to delay this step if you have dynamically created input fields that appear later in the loading process
        // It can be called as many times as necessary; previously converted input fields will not be converted again
        window.emojiPicker.discover();
    });

</script>
    <script src="{{ asset('front/assets/js/custom.js') }}"></script>
    <script src="{{ asset('front/assets/js/owl.js') }}"></script>
    <script src="{{ asset('front/assets/js/slick.js') }}"></script>
    <script src="{{ asset('front/assets/js/isotope.js') }}"></script>
    <script src="{{ asset('front/assets/js/accordions.js') }}"></script>

    <!-- ** Don't forget to Add jQuery here ** -->
    <script src="{{ asset('front/assets/js/config.js') }}"></script>
    <script src="{{ asset('front/assets/js/util.js') }}"></script>
    <script src="{{ asset('front/assets/js/jquery.emojiarea.js') }}"></script>
    <script src="{{ asset('front/assets/js/emoji-picker.js') }}"></script>


{% endblock %}



