{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block bg%} {{ asset('front/assets/img/depositphotos_76358235-stock-photo-desk-of-blogger.jpg') }}  {% endblock %}
{% block titre1 %}BLOG{% endblock %}
{% block titre2 %}Bienvenue{% endblock %}

{% block content %}
    <h1>Blog</h1>




<div class="testimonail-section mt-80 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center">


                        <div class="client-avater">
                            <img src="assets/img/avaters/avatar1.png" alt="">
                        </div>
                        <div class="client-meta">
                            <h3>{{ blog.utilisateur }}<span>{{ blog.titre }}</span></h3>
                            <p class="testimonial-body">
                                {{ blog.contenue }}
                            </p>
                            <div class="last-icon">
                                <i class="fas fa-quote-right"></i>
                            </div>
                        </div>


            </div>
        </div>
    </div>
</div>

    {#<table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ blog.id }}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ blog.utilisateur }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ blog.titre }}</td>
            </tr>
            <tr>
                <th>Contenue</th>
                <td>{{ blog.contenue }}</td>
            </tr>
            <tr>
                <th>Date_heure</th>
                <td>{{ blog.dateHeure ? blog.dateHeure|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>#}

    <a href="{{ path('blog_index') }}">back to list</a>

    <a href="{{ path('blog_edit', {'id': blog.id}) }}">edit</a>

    {{ include('blog/_delete_form.html.twig') }}

    <br>
    <br>


    {#<table class="table" style="background-color: white" margin-bottom="100" >
        <thead>
        <tr>
            <th>Utilisateur</th>
            <th>Contenue</th>

        </tr>
        </thead>
        <tbody>
        {% for commentaire in blog.commentaires %}
            <tr>
                <td>{{ commentaire.utilisateur }}</td>
                <td>{{ commentaire.contenue }}</td>


            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>#}


        {#<div class="comment-user-avater">
        <img src="assets/img/avaters/avatar1.png" alt="">
    </div>
    <div class="comment-text-body">
        <h4>{{ commentaire.utilisateur }} <span class="comment-date">Aprl 26, 2020</span> <a href="#">reply</a></h4>
        <p>{{ commentaire.contenue }}</p>
    </div>#}

        <div class="container mt-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8">
                    <div class="headings d-flex justify-content-between align-items-center mb-3">
                        <h5>commentaires(6)</h5>
                        <div class="buttons"> <span class="badge bg-white d-flex flex-row align-items-center"> <span class="text-primary">Comments "ON"</span>
                        <div class="form-check form-switch"> <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked> </div>
                    </span> </div>
                    </div>
                    {% for commentaire in blog.commentaires %}
                    <div class="card p-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="user d-flex flex-row align-items-center"> <img src="https://i.imgur.com/hczKIze.jpg" width="30" class="user-img rounded-circle mr-2"> <span><small class="font-weight-bold text-primary">{{ commentaire.utilisateur }}</small> <small class="font-weight-bold">{{ commentaire.contenue }}</small></span> </div> <small>{{ commentaire.dateHeure ? commentaire.dateHeure|date('Y-m-d H:i:s') : '' }}</small>
                        </div>
                        <div class="action d-flex justify-content-between mt-2 align-items-center">
                            <div class="reply px-4"> <small>Remove</small> <span class="dots"></span> <small>Reply</small> <span class="dots"></span> <small>Translate</small> </div>
                            <div class="icons align-items-center"> <i class="fa fa-star text-warning"></i> <i class="fa fa-check-circle-o check-icon"></i> </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>


    {%include "commentaire/_form.html.twig" %}



{% endblock %}
