{% extends 'base.html.twig' %}
{% block title %} Chritech {% endblock %}
{% block bg%} {{ asset('front/assets/img/bgg.png') }}  {% endblock %}
{% block titre1 %}Mes points{% endblock %}

{% block titre2 %}

<h5 class="modal-title" id="exampleModalCenterTitle">Profil De {{ app.user.prenom }}</h5>
<img src="{{ asset('uploads/images/' ~ app.user.image) }}" height="100" width="100" />
    <h1></h1>

    <table class="table">
        <tbody>
            
            <tr>
            <style>
    th { color: #FFFFFF; }
    td { color: #FFFFFF; }
  </style>
                <th>Nombre des Points</th>
                <td "text-color=white">{{ carte_fidelite.NbPoints }}</td>
            </tr>
            <tr>
                <th>Date de Creation</th>
                <td>{{ carte_fidelite.DateCreation ? carte_fidelite.DateCreation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date d'expiration</th>
                <td>{{ carte_fidelite.DateExpiration ? carte_fidelite.DateExpiration|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Type de carte</th>
                {% if carte_fidelite.type == 0 %}
                <td>Standard</td>
                    {% elseif carte_fidelite.type == 1 %}
                <td>Silver</td>
                   {% elseif carte_fidelite.type == 2 %}
                <td>Gold</td>
                   {% elseif carte_fidelite.type == 3 %}
                <td>Premium</td>
                {% endif %}
            </tr>
            
        </tbody>
    </table>
<button type="button" class="btn btn-warning" > <a href="{{ path('offre_index')}}"style="color: white">Voir les offres</button>
<button type="button" class="btn btn-warning" > <a href="{{ path('pdf_res', { 'id': carte_fidelite.id }) }}" style="color: white">Voir carte en PDF</button>  
   
{% endblock %}
