 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">
    <!-- title -->
    <title>{% block title %}Welcome!{% endblock %}</title>


    <!-- Modal Pop Up Message-->
    {#{% if is_granted('ROLE_CLIENT') %}
        <div class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="float-defer-page: last" >
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Messages De {{ app.user.prenom }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <section class="container">
                            <div class="row">
                                <div class="col">
                                    <h1>Messagerie</h1>
                                    <p>Resumer de la messagerie</p>
                                    <p>Recus: {{ app.user.received | length }}</p>
                                    <p>Envoyes: {{ app.user.sent | length }}</p>
                                    <a  class="btn btn-primary" href="{{ path("messages") }}">
                                        ->Ma Messagerie
                                    </a>
                                    <a href="{{ path("send") }}" class="btn btn-primary">Envoyer Un Message</a>
                                </div>
                            </div>
                        </section>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}#}

    <!-- Modal Pop Up Profil-->
    {% if is_granted('ROLE_CLIENT') %}
    <div class="modal fade" id="profil" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="float-defer-page: last" >
        <div class="modal-dialog modal-dialog-centered" role="document" >
            <div class="modal-content" style="background-image: url('{{ asset('front/assets/img/lock2.jpg') }}'); ">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Profil De {{ app.user.prenom }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" >
                    <div class="container mt-4 mb-4 p-3 d-flex justify-content-center" >
                        <div class="card p-4">
                            <div class=" image d-flex flex-column justify-content-center align-items-center"> <button class="btn btn-secondary"> <img src="{{ asset('uploads/images/' ~ app.user.image) }}" height="100" width="100" /></button> <h4><span class="name mt-3">{{ app.user.nom | upper }} {{ app.user.prenom | upper }}</span> </h4><span class="idd">@eleanorpena</span>
                                <div class=" d-flex mt-2"> <a href="{{ path('user_profil_modifier') }}" class="btn1 btn-dark">Modifer Profil</a> </div>
                                <div class="text mt-3"> <span> Votre Email: {{ app.user.email }}</span> </div>
                                <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"> <span><i class="fa fa-twitter"></i></span> <span><i class="fa fa-facebook-f"></i></span> <span><i class="fa fa-instagram"></i></span> <span><i class="fa fa-linkedin"></i></span> </div>
                                <div class=" px-2 rounded mt-4 date "> <span class="join">Membre Depuis {{ app.user.datecreation|date("d/m/Y") }}</span> </div>
                                                                <div class=" px-2 rounded mt-4 date "> <a href="{{ path('statique')}}"><span class="join">Devenez un membre exclusive</span></a> </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}


    <!-- Modal Pop Up Login-->
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="float-defer-page: last">
        <div class="modal-dialog form-dark" role="document">
            <!--Content-->
            <div class="modal-content card card-image" style="background-image: url('{{ asset('front/assets/img/lock2.jpg') }}'); height: 600px; width: 430px" >
                <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">
                    <!--Header-->
                    <div class="modal-header text-center pb-4">
                        <h3 class="modal-title w-100 orange-text font-weight-bold" id="myModalLabel"><strong>Bien</strong><a
                                    class="font-weight-bold" style="color: black; font-weight: bolder; font-size: x-large"><strong>Venue</strong></a></h3>
                        <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!--Body-->
                    <div class="modal-body">
                        <!--Body-->
                        <form method="post" action="{{ path('app_login')}}">
                            {% if error is defined and error%}
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                {% if app.user %}
                                    <div class="mb-3">
                                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                    </div>
                                {% endif %}
                            {% endif %}
                            {#Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
						See https://symfony.com/doc/current/security/remember_me.html#}
                            <div class="md-form mb-5">
                                <input type="email" name="email" id="Form-email5" class="form-control validate white-text" autocomplete="email" required autofocus>
                                <label data-error="wrong" data-success="right" for="Form-email5">Votre Email</label>
                            </div>

                            <div class="md-form pb-3">
                                <input type="password" name="password" id="Form-pass5" class="form-control" autocomplete="current-password" required>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <label data-error="wrong" data-success="right" for="Form-pass5">Votre MotdePasse</label>

                            </div>

                            <!--Grid row-->
                            <div class="row d-flex align-items-center mb-4">

                                <!--Grid column-->
                                <div class="text-center mb-3 col-md-12">
                                    <button class="btn btn-warning btn-lg" type="submit" >
                                        Connecter
                                    </button>
                                </div>
                                <!--Grid column-->

                            </div>
                            <!--Grid row-->
                            <br><br>
                            <!--Grid row-->
                            <div class="row">

                                <!--Grid column-->
                                <h4 style="color: whitesmoke">   Vous N'avez pas de Compte ? <br><br> <a href="{{ path('app_register') }}">                 INSCRIVEZ VOUS</a></h4>

                                <!--Grid column-->

                            </div>
                            <!--Grid row-->
                        </form>
                    </div>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>



        <style>
            .hero-bg {
                background-image: url({% block bg %}{% endblock %});
                background-size: cover;
                background-position: center;
                background-attachment: fixed;
            }
        </style>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <!-- favicon -->
        <link rel="shortcut icon" type="image/png" href="{{ asset('front/assets/img/favicon.png') }}">
        <!-- google font -->
        <link href="{{ asset('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700') }}" rel="stylesheet">
        <link href="{{ asset('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap') }}" rel="stylesheet">
        <!-- fontawesome -->
        <link rel="stylesheet" href="{{ asset('front/assets/css/all.min.css') }}">
        <!-- bootstrap -->
        <link rel="stylesheet" href="{{ asset('front/assets/bootstrap/css/bootstrap.min.css') }}">
        <!-- owl carousel -->
        <link rel="stylesheet" href="{{ asset('front/assets/css/owl.carousel.css') }}">
        <!-- magnific popup -->
        <link rel="stylesheet" href="{{ asset('front/assets/css/magnific-popup.css') }}">
        <!-- animate css -->
        <link rel="stylesheet" href="{{ asset('front/assets/css/animate.css') }}">
        <!-- mean menu css -->
        <link rel="stylesheet" href="{{ asset('front/assets/css/meanmenu.min.css') }}">
        <!-- main style -->
        <link rel="stylesheet" href="{{ asset('front/assets/css/main.css') }}">
        <!-- responsive -->
        <link rel="stylesheet" href="{{ asset('front/assets/css/custom.css') }}">

        <link rel="stylesheet" href="{{ asset('front/assets/css/responsive.css') }}">

        <link rel="stylesheet" href="{{ asset('front/assets/css/prod.css') }}">

        <link rel="stylesheet" href="{{ asset('front/assets/css/drop.css') }}">

        <link rel="stylesheet" href="{{ asset('front/assets/css/message.css') }}">
    {% block stylesheets %}
    {% endblock %}


    {% block head %}{% endblock %}
</head>
<body>
{% block body %}

    <!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->

    <!-- header -->
    <div class="top-header-area" id="sticker">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 text-center">
                    <div class="main-menu-wrap">
                        <!-- logo -->
                        <div class="site-logo">
                            <a href="index.html">
                                <img src="{{ asset('front/assets/img/chri.png') }}" alt="">
                            </a>
                        </div>
                        <!-- logo -->

                        <!-- menu start -->
                        {% block navigation %}
                            <nav class="main-menu">
                                <ul>
                                    <li><a href="about.html">Acceuil</a></li>
                                    <li><a href="about.html">Produits</a>
                                        <ul class="sub-menu">
                                            <li><a href="commande/new">Commande</a></li>
                                            <li><a href="livraison/new">Livraison</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="maintenance" >Maintenace</a>
                                        <ul class="sub-menu">
                                            <li><a href="rendezvous">Rendez-vous</a></li>
                                            <li><a href="avis">Les Avis</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="news.html">Forum</a>
                                        <ul class="sub-menu">
                                            <li><a href="article">Articles</a></li>
                                            <li><a href="blog">Blog</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Nous Contacter</a></li>
                                    <li><a href="about.html">A Propos</a></li>
                                    <li>
                                        <div class="header-icons">
                                            <a href="cart.html"><i class="fas fa-shopping-cart"></i></a>
                                            <a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                                            {% if is_granted('ROLE_CLIENT') %}
                                            <a  type="button" data-toggle="modal" data-target="#profil">
                                                <i class="fas fa-user-check" style="color: white">
                                                </i>
                                            </a>
                                                <a  type="button" data-toggle="modal" data-target="#message">
                                                    <i class="	fab fa-facebook-messenger" style="color: white">
                                                    </i>
                                                </a>
                                            {% endif %}
                                            {% if is_granted('ROLE_CLIENT') == false %}
                                            <a  type="button" data-toggle="modal" data-target="#login">
                                                <i class="fas fa-user-slash" style="color: white">
                                                </i>
                                            </a>
                                            {% endif %}
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                            <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                            <div class="mobile-menu"></div>


                        {% endblock %}
                        <!-- menu end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header -->

    <!-- search area -->
    <div class="search-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span class="close-btn"><i class="fas fa-window-close"></i></span>
                    <div class="search-bar">
                        <div class="search-bar-tablecell">
                            <h3>Search For:</h3>
                            <input type="text" placeholder="Keywords">
                            <button type="submit">Search <i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end search area -->

    <!-- hero area -->
    <div class="hero-area hero-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 offset-lg-2 text-center">
                    <div class="hero-text">
                        <div class="hero-text-tablecell">
                            <p class="subtitle">{% block titre1 %} {% endblock %}</p>
                            <h1>{% block titre2 %} {% endblock %}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end hero area -->


    {% block content %}

    {% endblock %}
    <!-- end latest news -->

    <!-- logo carousel -->
    <!--	<div class="logo-carousel-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="logo-carousel-inner">
                            <div class="single-logo-item">
                                <img src="assets/img/company-logos/1.png" alt="">
                            </div>
                            <div class="single-logo-item">
                                <img src="assets/img/company-logos/2.png" alt="">
                            </div>
                            <div class="single-logo-item">
                                <img src="assets/img/company-logos/3.png" alt="">
                            </div>
                            <div class="single-logo-item">
                                <img src="assets/img/company-logos/4.png" alt="">
                            </div>
                            <div class="single-logo-item">
                                <img src="assets/img/company-logos/5.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    <!-- end logo carousel -->

    <!-- footer -->
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box about-widget">
                        <h2 class="widget-title">Qui Somme Nous?</h2>
                        <p>Nahna Wled ndhaf thebbou troudouna Mjarrrrrrrma ?</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box get-in-touch">
                        <h2 class="widget-title">Get in Touch</h2>
                        <ul>
                            <li>34/8, East Hukupara, Gifirtok, Sadan.</li>
                            <li>support@fruitkha.com</li>
                            <li>+00 111 222 3333</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box pages">
                        <h2 class="widget-title">Nos Pages</h2>
                        <ul>
                            <li><a href="index.html">Acceuil</a></li>
                            <li><a href="about.html">Produits</a></li>
                            <li><a href="services.html">Maintenance</a></li>
                            <li><a href="news.html">Blog</a></li>
                            <li><a href="contact.html">Nous Contacter</a></li>
                            <li><a href="contact.html">A Propos</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box subscribe">
                        <h2 class="widget-title">Insciption au Journal</h2>
                        <p>Ti ija menna thouk el BENNA</p>
                        <form action="index.html">
                            <input type="email" placeholder="Email">
                            <button type="submit"><i class="fas fa-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end footer -->

    <!-- copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <p>                                                                                                     </p>
                </div>
                <div class="col-lg-6 text-right col-md-12">
                    <div class="social-icons">
                        <ul>
                            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end copyright -->

{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous" defer></script>

<!-- jquery -->
<script src="{{ asset('front/assets/js/jquery-1.11.3.min.js') }}"></script>
<!-- bootstrap -->
<script src="{{ asset('front/assets/bootstrap/js/bootstrap.min.js') }}"></script>
<!-- count down -->
<script src="{{ asset('front/assets/js/jquery.countdown.js') }}"></script>
<!-- isotope -->
<script src="{{ asset('front/assets/js/jquery.isotope-3.0.6.min.js') }}"></script>
<!-- waypoints -->
<script src="{{ asset('front/assets/js/waypoints.js') }}"></script>
<!-- owl carousel -->
<script src="{{ asset('front/assets/js/owl.carousel.min.js') }}"></script>
<!-- magnific popup -->
<script src="{{ asset('front/assets/js/jquery.magnific-popup.min.js') }}"></script>
<!-- mean menu -->
<script src="{{ asset('front/assets/js/jquery.meanmenu.min.js') }}"></script>
<!-- sticker js -->
<script src="{{ asset('front/assets/js/sticker.js') }}"></script>
<!-- main js -->
<script src="{{ asset('front/assets/js/main.js') }}"></script>
{% block javascripts %}
{% endblock %}
</body>
</html>