{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}
{% block bg%} {{ asset('front/assets/img/notif.png') }}  {% endblock %}
{% block content %}

    <section class="container">
        <div class="row">
            <div class="col-12">
                <h1>Messagerie</h1>
                <h2>Boite de Reception</h2>
                <p>Vous Aves Recus: {{ app.user.received | length }} Messages</p>
            </div>
                <div class="col-3">De</div>
                <div class="col-3">Sujet</div>
                <div class="col-3">Date</div>
                <div class="col-3">Actions</div>
                {% for message in app.user.received %}
                    {% if message.isRead ==0 %}
                        {% set bold = "fw-bold" %}
                    {% else %}
                        {% set bold = "" %}
                    {% endif%}

                    <div class="col-3 {{ bold }}">{{ message.sender.email }}</div>
                    <div class="col-3 {{ bold }}"> <a href="{{ path("read" , {id: message.id}) }}">{{ message.title }}</a></div>
                    <div class="col-3 {{ bold }}">{{ message.createdat | date }}</div>
                    <div class="col-3 {{ bold }}"></div>
                {% endfor %}
                <div class="col">
                <a  class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                    Voir mes dossiers
                </a>
                <a href="{{ path("send") }}" class="btn btn-primary">Envoyer Un Message</a>
            </div>
        </div>
    </section>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h2 class="offcanvas-title" id="offcanvasExampleLabel">Mes Dossiers</h2>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="list-group">
                <a href="{{ path('messages') }}" class="list-group-item list-group-item-action ">Accueil</a>
            </div>
            <div class="list-group">
                <a href="{{ path('received') }}" class="list-group-item list-group-item-action active">Boite de Reception</a>
            </div>
            <div class="list-group">
                <a href="{{ path('messages') }}" class="list-group-item list-group-item-action ">Elements Envoyes</a>
            </div>
        </div>
    </div>
{% endblock %}
