{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}
{% block bg%} {{ asset('front/assets/img/notif.png') }}  {% endblock %}
{% block head %}
    <link href="{{ asset('//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css') }}" rel="stylesheet" id="bootstrap-css">
    <script src="{{ asset('//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js') }}"></script>
{% endblock %}
{% block content %}

    <div class="container">
        <div class="messaging">
            <div class="inbox_msg">
                <div class="inbox_people">
                    <div class="headind_srch">
                        <div class="recent_heading">
                            <h4>Recent</h4>
                        </div>
                        <div class="srch_bar">
                            <div class="stylish-input-group">
                                <input type="text" class="search-bar"  placeholder="Search" >
                                <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span> </div>
                        </div>
                    </div>
                    <div class="inbox_chat">
                        {% for message in louled %}
                        <div class="chat_list active_chat">
                           <a href="{{ path("msg_send" , {id: message.sender.id}) }}"> <div class="chat_people">
                                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                <div class="chat_ib">
                                    <h5>{{ message.sender.nom }} <span class="chat_date">{{ message.createdat | date }}</span></h5>
                                    <p>{{ message.message }}</p>
                                </div>
                            </div></a>
                        </div>
                        {% endfor %}
                    </div>
                </div>


                <div class="mesgs">
                    <div class="msg_history">
                        <h3 style="text-align: center; margin-top: 100px"> Envoyer Un Nouveau Message</h3>

                        <div class="type_msg" style="margin-top: 60px">
                            {{ form_start(messForm) }}
                            {{ form_widget(messForm.recipient, {attr: {style: 'width: 100px; margin-top: 30px'} }) }}

                            {{ form_widget(messForm.message, {attr: {style: 'height: 160px; margin-top: 10px'} }) }}
                            <div style="text-align: center"> {{ form_widget(messForm.Envoyer, {attr: {style: 'margin-top: 20px'} }) }} </div>
                            {{ form_end(messForm) }}

                        </div>

                    </div>
                </div>


            </div>

        </div></div>



{% endblock %}
