{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}
{% block bg%} {{ asset('front/assets/img/notif.png') }}  {% endblock %}


{% block content %}

    <section class="container">
        <div class="row">
            <div class="col">
                <h1>Envoyer un Message</h1>
                {{ form_start(messForm) }}
                {{ form_row(messForm.title) }}
                {{ form_row(messForm.message) }}
                {{ form_row(messForm.recipient) }}
                {{ form_end(messForm) }}
                <a href="{{ path("send") }}" class="btn btn-primary btn-lg btn-block" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                    Voir mes dossiers
                </a></div>
        </div>
    </section>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h2 class="offcanvas-title" id="offcanvasExampleLabel">Mes Dossiers</h2>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="list-group">
                <a href="{{ path('messages') }}" class="list-group-item list-group-item-action active">Accueil</a>
            </div>
            <div class="list-group">
                <a href="{{ path('received') }}" class="list-group-item list-group-item-action ">Boite de Reception</a>
            </div>
            <div class="list-group">
                <a href="{{ path('messages') }}" class="list-group-item list-group-item-action ">Elements Envoyes</a>
            </div>
        </div>
    </div>
{% endblock %}
