{% extends 'base.html.twig' %}

{% block title %} Chritech {% endblock %}
{% block bg%} {{ asset('front/assets/img/avbg.jpg') }}  {% endblock %}
{% block titre1 %}Services{% endblock %}
{% block titre2 %} <a href="{{ path('offre_new') }}  " style="color: antiquewhite">Nos Offres <h6 style="color: floralwhite" ><small>Pour Donner un Avis Cliquer ici</small></h6></a>
{% endblock %}
{% block content %}
    <div class="row">
        {% for offre in offres %}
            <div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-news.html"><div class="latest-news-bg news-bg-1">{{ offre.image }}</div></a>
						<div class="news-text-box">
							<h3><a href="single-news.html">{{ offre.description }}</a></h3>
						
							<p class="excerpt">{{ offre.description }}</p>
							<a href="{{ path('offre_show', {'id': offre.id}) }}" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </div>

    
				
				

    <a href="{{ path('offre_new') }}">Create new</a>
{% endblock %}
