{% extends 'base.html.twig' %}

{% block title %} Chritech {% endblock %}
{% block bg%} {{ asset('front/assets/img/yellow.jpg') }}  {% endblock %}
{% block titre1 %}{% endblock %}
{% block titre2 %}Les offres{% endblock %}
{% block content %}
    <div class="row">
        {% for offre in offres %}
            <div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-news.html"><div class=" news-bg-1"><img src="{{ asset('uploads/images/' ~ offre.image) }}"></div></a>
						<div class="news-text-box">
							<h3><a href="single-news.html">{{ offre.description }}</a></h3>
						
							<p class="excerpt">{{ offre.prix }} DT</p>
                            <p class="excerpt">{{ offre.points }} Points</p>
							<a href="{{ path('offre_show', {'id': offre.id}) }}" class="read-more-btn">Click here to see the offer <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </div>

    
				
				

    <a
{% endblock %}
