{% extends 'base.html.twig' %}

{% block title %}Chri-Tech {% endblock %}
{% block bg%} {{ asset('uploads/images/' ~ app.user.image) }}  {% endblock %}

{% block content %}

    <div class="contact-from-section mt-150 mb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="form-title">
                        <h2 style="text-align: center">Modifer Votre Profil</h2>
                    </div>
                    <div id="form_status"></div>
                    <div class="contact-form">
                        <div class="form">
                            <div class="container" style="margin-left: 120px">
                                <p> {{ form_errors(userForm.nom) }}
                                    {{ form_errors(userForm.prenom) }}
                                    {{ form_errors(userForm.email) }}
                                </p>
                            </div>
                            {{ form_start(userForm) }}
                            <p>

                                {{ form_widget(userForm.nom, {'attr': {'class': 'input1'}}) }}
                                {{ form_widget(userForm.prenom, {'attr': {class: 'input2'} }) }}
                            </p>
                            <p>
                                {{ form_widget(userForm.email, {'attr': {class: 'input1' , style: 'width: 695px'} }) }}
                            </p>

                            <p style="margin-top: 120px">
                                {{ form_widget(userForm.image) }}
                            </p>
                            <p style="text-align: center"><input style="text-align: center" type="submit" value="Modifer" ></p>
                            {{ form_end(userForm) }}
                        </div>
                    </div>

                </div>
                <div class="col-lg-4">


                        <div style="width: 120%; margin-top: -50%" >
                            <div class="modal-dialog modal-dialog-centered" role="document" >
                                <div class="modal-content" style="background-image: url('{{ asset('front/assets/img/77.png') }}'); ">
                                    <div class="modal-header">
                                        <h4 class="modal-title" style="text-align: center; color: white">Profil De <h3 style="color: #fcbf01">   ‎ {{ app.user.prenom |upper }}</h3></h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" >
                                        <div class="container mt-4 mb-4 p-3 d-flex justify-content-center" >
                                            <div class="card p-4" style="background-color: transparent; border-color: white; border-radius: 8px ">
                                                <div class=" image d-flex flex-column justify-content-center align-items-center"> <button class="btn btn-secondary"> <img src="{{ asset('uploads/images/' ~ app.user.image) }}" height="100" width="100" /></button> <h4  style="margin-top: 30px"><span class="name mt-3" style="color: #ffffff;">{{ app.user.nom | upper }} {{ app.user.prenom | upper }}</span> </h4><span class="idd" style="color: #ffffff;">@eleanorpena</span>
                                                    <div class=" d-flex mt-2"> </div>
                                                    <div class="text mt-3"> <h4 style="color: #ffffff; font-size: large">{{ app.user.email }}</h4> </div>
                                                    <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"> <span><i class="fa fa-twitter"></i></span> <span><i class="fa fa-facebook-f"></i></span> <span><i class="fa fa-instagram"></i></span> <span><i class="fa fa-linkedin"></i></span> </div>
                                                    <div class=" px-2 rounded mt-4 date "> <h4 class="join" style="color: #ffffff;">Membre Depuis {{ app.user.datecreation|date("d/m/Y") }}</h4> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">

                                        <button class="btn btn-warning "> <a href="{{ path('user_profil_modifier') }}" style="text-decoration: none;" >Modifer Profil</a> </button>
                                    </div>
                                </div>
                            </div>
                        </div>


                </div>
            </div>
        </div>
    </div>
{% endblock %}